{% extends "layout.html" %}
{% set bodyId = "page-ideas" %}

{% block title %}
  <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}

  <header>

    <a href="/">
      <img src="/_images/logo.png" alt="Imagem da Logomarca" />
    </a>

    <nav>
      <li><a href="/">Inicio</a></li>
      <li><a href="#" class="button" onclick="onOff()">Nova Ideia</a></li>
    </nav>

  </header>

  <section id="title">

    <p>em exibição</p>
    <h1>Ideias</h1>

  </section>

  <main>
    <section id="ideas">
      {% include "all_ideas.html" %}
    </section><!--ideas-->
  </main>

  <footer>
    <p>Com <span>&#x2764;&#xFE0F;</span> <a target="_blanck" href="http://rocketseat.com.br">Rocketseat</a></p>
  </footer>

{% endblock %}